@import '../../../styles/custom/variables.scss';

.fit-image {
    object-fit: cover;
}
.profile-pic {
    padding: 0;
    border-radius: 100%;
}
.profile {
    margin: 0;
    font-weight: 500;
    line-height: 1.15;
}
.profile-name {
    margin-top: 0.8em;
}
.profile-profession {
    color: #616161;
}
