@import "./custom/variables";

.site-section{
    padding-top: 10vh;
}

.separator {
    opacity: 1 !important;
    color: $white;
    height: 5px !important;
}

h1, h2 { font-family: $font-01; }

.font-primary { font-family: $font-01; }

.text-justify { text-align: justify; }

.text-primary { color: $primary; }

.text-red { color: $red; }

.text-orange { color: $orange; }

.text-white { color: $white; }

.text-yellow { color: $yellow; }

.text-gray { color: $gray-700; }

.bg-orange { background-color: $orange; }

.border-gray { border-color: $gray-500; }

.bg-red { background-color: $red; }

.bg-cyan { background-color: $cyan; }

.bg-blue { background-color: $blue; }

.bg-black { background-color: $black; }

.rounded-15 { border-radius: 15px; }

.rounded-top-15 {
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
}

.bg-image {
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.bg-position-top { background-position-y: top; }

button:disabled {
    pointer-events: none;
    opacity: 0.65;
}

a:link {
    text-decoration: none;
    color: inherit;
    transition: .3s;
}

a:hover {
    transition: .3s;
    color: $orange;
}

.arrow-down {
    width: 0;
    height: 0;
    // border-left: 25px solid transparent;
    // border-right: 25px solid transparent;
    border-top: 20px solid $gray-500;
    margin-left: 85px;
}

.menu-position { z-index: 1; }

#menu-logo { width: min(30vw, 300px); }

.nav-link { color: $white !important; }

.nav-link:hover { color: $red !important; }

.navbar-light .navbar-toggler {
    background-color: $white;
    border-color: $white;
}

@media (min-width: 992px){
    .navbar-expand-lg .navbar-nav .dropdown-menu {
        right: 1vh;
    }
}

.fit-cover { object-fit: cover; }

.img-avatar { width: 20vh;}

.div-link {
    display: block;
    height: 100%;
    width: 100%;
    text-decoration: none;
}

.opacity-0 { opacity: 0; }

.opacity-1 { opacity: 1; }

.card-pagamento { box-shadow: 10px 10px 50px rgb(229 229 229 / 80%); }

.card-promocao {
    transition: .5s ease;
    padding: 1rem 0;
    border-width: 2px;
    border-color: $gray-500;
    border-style: solid;
    box-shadow: 5px 5px 5px 5px rgb(0 0 0 / 25%), -5px -5px 5px 5px rgb(0 0 0 / 10%);
}

.card-middle {
    transition: .5s ease;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%)
}

.card-promocao:hover {
    .card-head { box-shadow:inset 0 0 0 2000px rgba(0, 0, 0, 0.6); }
    background-color: $gray-500;
    transition: 0.5s;
    .card-middle { opacity: 1; }
}

.depoimento {
    background: none;
    border-style: solid;
    border-width: 1px;
    .depoimento-separator {
        color: $white;
        opacity: 1 !important;
    }
}

.qrcode {
    min-width: 110px;
    max-width: 200px;
    border-radius: 20px;
}

.react-multiple-carousel__arrow--left::before {
    content: '<' !important;
    font-weight: 900;
}
.react-multiple-carousel__arrow--right::before {
    content: '>' !important;
    font-weight: 900;
}
.react-multiple-carousel__arrow {
    border-color: $red;
    border-width: 5px;
    border-style: inset;
    bottom: 84px;
}

.react-datepicker-wrapper { display: block !important;}

.react-datepicker {
    .react-datepicker__navigation--previous { border-right-color: $black;}
    .react-datepicker__navigation--next { border-left-color: $black; }
}

input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button { 
  -webkit-appearance: none; 
  margin: 0; 
}

.form-passagem {

    .MuiInputBase-input {
        padding: 0 !important;
        padding-left: 30px !important;
    }
    .MuiInput-underline:before {
        border: none;
    }

    input[type=text], input[type=number], input[type=search]{
        height: 45px;
        border-radius: 4px;
        color: $black;
        background-color: $white;
        font-family: $font-01;
    }

    input[type=text], input[type=number], input[type=search], .btn-increment {
        border: 1px solid $gray-700;
        font-size: 16px;
    }

    input[type=number]:disabled {
        background-color: $white;
    }

    input[type=checkbox] {
        transform: scale(2);
        width: auto;
    }

    .btn-increment {
        background-color: $gray-300;
        color: $primary;
        width: 30px;
        height: 30px;
    }

    .btn-trocar {
        width: 45px;
    }

    .btn-std {
        height: 45px;
        font-size: 1.3rem;
        font-weight: 600;
        border: none;
    }

    .txt-airport {
        padding-left: 30px;
    }
}

@media all and (min-width: 768px) {
    .form-passagem {
        margin: 10vh !important;
    }

    .btn-trocar {
        transform: translateX(-50%) !important;
        left: 50% !important;
        bottom: 0 !important;
    }
}

.btn-reserve {
    color: $white;
    text-transform: uppercase;
}

@media all and (max-width: 767px) {
    .form-passagem { background-position-x: right; }
    .btn-trocar {
        transform: translateY(-50%) !important;
        right: 0 !important;
        top: 50% !important;
    }
}

hr.contrail {
    background-color: transparent;
    opacity: 1 !important;
}
hr.contrail-white {
    background-image: linear-gradient(to right, rgba(255,255,255,0), rgba(255,255,255,1));
}
hr.contrail-primary {
    background-image: linear-gradient(to right, rgba(255,255,255,0), rgba(23,51,86,1));
}

.pointer {
    cursor: pointer;
}

.collapse-header{
    cursor: pointer;
    border: solid 1px $gray-300;
    border-radius: 4px 4px 0 0;
}
.collapse-content{
    cursor: pointer;
    border-left: solid 1px $gray-300;
    border-right: solid 1px $gray-300;
    border-bottom: solid 1px $gray-300;
    border-radius: 0 0 4px 4px;
}

.faq-answer {
    img {
        max-width: 100%;
    }
}

@import '~bootstrap/scss/bootstrap';
