@import "./custom/variables";

h1, h2 {
 font-family: $font-01;   
}

.text-justify {
    text-align: justify;
}

.text-red {
    color: $red;
}

.text-orange {
    color: $orange;
}

.text-white {
    color: $white;
}

.text-yellow {
    color: $yellow;
}

.text-primary {
    color: $primary;
}

.bg-red {
    background-color: $red;
}

@import '~bootstrap/scss/bootstrap';