@import "./custom/variables";

h1, h2 {
 font-family: $font-01;   
}

.text-justify {
    text-align: justify;
}

.text-red {
    color: $red;
}

.text-orange {
    color: $orange;
}

.text-white {
    color: $white;
}

.text-yellow {
    color: $yellow;
}

.text-primary {
    color: $primary;
}

.bg-red {
    background-color: $red;
}

button[type="button"] {
    font-family: $font-01;
    text-transform: uppercase;
    font-weight: 500;
}

a:link {
    text-decoration: none;
    color: inherit;
    transition: .3s;
}

a:hover {
    transition: .3s;
    color: $orange;
}

@import '~bootstrap/scss/bootstrap';