@import '../../../styles/custom/variables.scss';

.menu-position {
    z-index: 1;
}

.menu-position > * {
    text-transform: uppercase;
    font-weight: 600;
    font-family: $font-01;
    
}

.menu-main {
    background-color: $blue;
    padding: 2vw 0;
}

#menu-logo {
    width: min(30vw, 300px);
}

@media only screen and (min-width: 768px) {
    .nav-right {
        justify-content: center;
    }
}

.nav-link {
    color: $white !important;
}
.nav-link:hover {
    color: $red !important;
}

.navbar-light .navbar-toggler {
    background-color: $white;
    border-color: $white;
}

// @media only (min-width: 691px) and (min-width: 1000px) {
//     .nav-right {
//         justify-content: center;
//     }
// }